@charset "UTF-8";
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.scss */
html, body {
  font-size: 12px;
  font-family: "Microsoft YaHei","微软雅黑","SimHei","黑体";
  background-color: silver;
  height: 100%;
  background-color: #F1F1F1;
  background-image: -webkit-linear-gradient(top, #FFFFFF, #F1F1F1);
}

/* line 15, ../sass/main.scss */
#container {
  padding-top: 30px;
  position: relative;
  font-size: 12px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

/* line 32, ../sass/main.scss */
.formbox {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: #fff;
  border-left: 1px solid #D2D5D8;
  border-top: 1px solid #D2D5D8;
  border-right: 1px solid #D2D5D8;
}
/* line 49, ../sass/main.scss */
.formbox h1 {
  color: #217346;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #D2D5D8;
}
/* line 57, ../sass/main.scss */
.formbox p.desc {
  line-height: 24px;
  color: #666;
  margin-bottom: 20px;
}
/* line 62, ../sass/main.scss */
.formbox div.feild {
  padding-left: 5px;
  padding-bottom: 10px;
}
/* line 68, ../sass/main.scss */
.formbox p.title, .formbox p.sub_title {
  line-height: 18px;
}
/* line 71, ../sass/main.scss */
.formbox p.title {
  font-weight: bold;
}
/* line 74, ../sass/main.scss */
.formbox p.sub_title {
  color: #666;
}
/* line 77, ../sass/main.scss */
.formbox p.inputbox {
  padding-bottom: 5px;
}
/* line 79, ../sass/main.scss */
.formbox p.inputbox input {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #999;
  margin-top: 5px;
  width: 300px;
}
/* line 92, ../sass/main.scss */
.formbox p.inputbox span, .formbox p.inputbox label.error {
  display: block;
  color: red;
}

/* line 98, ../sass/main.scss */
div.submit_box {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: #F1F1F1;
  border-left: 1px solid #D2D5D8;
  border-right: 1px solid #D2D5D8;
}
/* line 106, ../sass/main.scss */
div.submit_box button {
  background: #217346;
  border: solid 1px #217346;
  color: #fff;
  line-height: 30px;
  width: 80px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
/* line 116, ../sass/main.scss */
div.submit_box button:hover {
  border-color: #439467;
  background-color: #86bfa0;
}

/* line 121, ../sass/main.scss */
div.m_footer {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  background: #217346;
  border: solid 1px #217346;
  margin-bottom: 50px;
}
/* line 129, ../sass/main.scss */
div.m_footer .m_footer_message {
  color: #fff;
  height: 20px;
  line-height: 20px;
}
/* line 133, ../sass/main.scss */
div.m_footer .m_footer_message a {
  color: #fff;
}

/* line 140, ../sass/main.scss */
div.phone_feild {
  padding-top: 5px;
}
/* line 144, ../sass/main.scss */
div.phone_feild span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 147, ../sass/main.scss */
div.phone_feild span.name {
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 151, ../sass/main.scss */
div.phone_feild span.phone {
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
